.carousel-img-height {
    height: 600px; 
    object-fit: cover;
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.star-span {
    max-width: 7rem;
    width: 100%;
    background-color: black;
    height: 0.25rem;
    border-color: black;
    display: block;
}
.star-width {
    width: 5%;
    margin-left: 10px;
    margin-right: 10px;
}
.portfolio img{
    max-height: 200px;
    object-fit: cover;
}
.about-content {
    padding: 6rem 0;
    background-color: rgb(26, 188, 156);
    color: white;
}

.about-content .star-span {
    background-color: white;
    border-color: white;
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}